index.php,


/* **	INSCRIPTION	**	*/


body{
	
	background: 		url('../../../img/terrain_basket.jpg') no-repeat center;
	background-size: 	cover;
	overflow: 			hidden;
	
}

hr{

	height: 			2px;
	background: 		#EDBD9A;
	border-radius: 		10px;
}

.intro-content{
	
	margin-top: 		25%;
	margin-left: 		25%;
	height: 			500px;
	max-height: 		700px;
	border: 			10px dashed #EDBD9A;
	background: 		white;
	padding: 			0px;
	overflow-y: 		auto;
	padding-bottom: 	10px;
}


.cache{
	
	margin-bottom: 	200%;
}

.btn_form{
	
	background:  #EDBD9A;
}


.manquant{
	
	border: 1px solid red;
}

#form_check{
    padding:    10px;
}



