index.php,


/* **	INTRODUCTION	**	*/


body{
	
	background: 		url('../img/terrain.jpg') no-repeat center;
	background-size: 	cover;
	overflow: 			hidden;
}

.intro-content{
	
	margin-top: 		25%;
	margin-left: 		25%;
	height: 			400px;
	background: 		white;
	padding-top: 		10px;
}


.cache{
	
	margin-bottom: 	200%;
}
