index.php,


/* **	INTRODUCTION	**	*/


body{
	
	background: 		url('../img/terrain.jpg') no-repeat center;
	background-size: 	cover;
	overflow: 			hidden;
}

.intro-content{
	
	margin-top: 		25%;
	margin-left: 		25%;
	height: 			370px;
	border: 			10px dashed darkgreen;
	background: 		white;
	padding: 			0px;
}


.cache{
	
	margin-bottom: 	200%;
}


